body{
	background-image: url(https://wallpaperscraft.com/image/dark_spot_background_texture_50611_1920x1080.jpg)
}
nav{
	position: fixed;
	z-index: 999;
	top:0px;
}
.container{
	margin-top: 100px;
}
.large-brand{
	font-size: 62px;
	color: firebrick;
}
.single-message, .new-message{
	background-color:rgba(0, 0, 0, 0.6);
	margin: 3%;
	box-shadow: 2px 3px 10px gray;
	min-height: 50px;
	color: snow; 
}

.message-text{
	margin:10px;
	font-size: 20px;
}

.new-message .btn{
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 25%;
}
.btn{
	background-color: rgba(255, 255, 255, 0.6);	
	margin-bottom: 30px;
}
.logout{
	position: fixed;
	z-index: 999999;
	top:50px;
	right: 5px;
}